.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 50px;
  border-top: 1px solid #eee;
  background-color: #fff;
  gap: 150px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.site-name-footer-link {
  font-size: 1.2em;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.site-name-footer-link:hover {
  text-decoration: underline;
}

.footer-links-container {
  display: flex;
  gap: 80px;
}

.footer-topic-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-topic-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.footer-page-link {
  text-decoration: none;
  color: #000;
  font-size: 0.95em;
}

.footer-page-link:hover {
  text-decoration: underline;
}


/* стилі для Discord */
.discord-link {
  display: inline-flex;
  width: 32px;
  height: 32px;
}

.discord-icon-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.discord-icon-img:hover {
  transform: scale(1.05);
}
