.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
  gap: 150px;
  border-top: 1px solid #eee;
  background-color: #fff; 
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.site-name-footer-link {
  font-size: 1.2em;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.site-name-footer-link:hover {
  text-decoration: underline;
}

/* Стилі для іконки Discord */
.discord-link {
    display: inline-block;
    width: 32px; 
    height: 32px;
    background-color: #000; 
    border-radius: 4px; 
    padding: 6px; 
}

.discord-icon-svg {
    width: 100%; 
    height: 100%;
    fill: #fff; 
}

.footer-links-container {
  display: flex;
  gap: 80px; 
}

.footer-topic-column {
  display: flex;
  flex-direction: column;
}

.footer-topic-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-page-link {
  text-decoration: none;
  color: #000;
  margin-bottom: 5px;
  font-size: 0.9em;
}

.footer-page-link:hover {
  text-decoration: underline;
}