.all-courses-content {
    background-color: white;
    padding: 40px 60px; 
    min-height: 70vh;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin: 30px 0; 
}

.all-courses-content h2 {
    font-size: 30px; 
    font-weight: 400; 
    color: #333;
    margin-bottom: 30px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 15px;
    max-width: 800px; 
    margin-bottom: 40px;
}

.search-input {
    flex-grow: 1;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    outline: none;
}

.search-icon {
    font-size: 20px;
    color: #888;
    cursor: pointer;
    margin-left: 10px; 
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
}

.course-grid-card {
    min-height: 200px; 
    
    background-color: #e0e0e0; 
    border-radius: 4px; 
    border: none; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-grid-card .card-placeholder {
    color: #888;
    font-size: 16px;
    font-weight: bold;
}