.payment-page-title {
    font-size: 2.5em;
    margin-bottom: 50px;
    text-align: center;
}

/* Сірий блок з перевагами */
.payment-card-container {
    width: 100%;
    max-width: 450px;
    background-color: #444; /* Сірий фон */
    color: #fff;
    padding: 40px 30px 30px;
    /* ЗАОКРУГЛЕНІ КУТИ */
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.price-tag {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
}


.benefits-list {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
    font-size: 1.1em;
    width: 100%;
    text-align: left;
}

.benefits-list li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.benefits-list .check-icon {
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
}

.payment-button {
    background-color: #000;
    color: #fff;
    padding: 10px 40px;
    border: none;
    /* ЗАОКРУГЛЕНІ КУТИ */
    border-radius: 10px; 
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
    max-width: 250px; 
    transition: opacity 0.2s;
}

.payment-button:hover {
    opacity: 0.8;
}
